APP_NAME=Team Task Manager API
API_V1_STR=/api/v1

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=team_task_manager

DATABASE_URL=postgresql://postgres:your_postgres_password@localhost:5432/team_task_manager